* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 30rem;
}

input:focus {
    outline: medium;
}

header {
    margin-top: .5rem !important;
    margin-bottom: .26rem !important;
    height: 0.4rem;
    display: flex;
    /* width: 6.87rem; */
    justify-content: space-between;
}

header .home_sp {
    width: 3.88rem;
    height: 0.4rem;
}

header .home_sp p:nth-of-type(1) {
    color: #000000;
    font-weight: 700;
    font-size: .36rem;
    float: left;
    padding-right: .12rem;
    border-right: .01rem solid #e3e3e3;
}

header .home_sp p:nth-of-type(2) {
    line-height: .6rem;
    text-align: center;
    color: #a48149;
    font-size: .24rem;
    float: left;
    padding-left: .1rem;
}

header .home_message {
    width: .4rem;
    height: 0.4rem;
    /* float: right; */
}

header .home_message>img {
    width: .4rem;
    height: 0.4rem;
    float: right;
}

.surch {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 0.7rem; */
    background: -webkit-linear-gradient(0deg, #000, #a48149);
    /* border: .04rem solid transparent; */
    border-radius: 8px;
    height: 0.7rem;
}

.surch_ {
    /* box-sizing: border-box; */
    height: 0.56rem;
    width: 6.74rem;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.surch_ input {
    border: none;
    width: 4.96rem;
    height: 0.48rem;
}

.surch_ img:nth-of-type(1) {
    width: 0.38rem;
    height: 0.37rem;
}

.surch_ img:nth-of-type(2) {
    width: 0.71rem;
    height: 0.21rem;
}

.home_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .4rem;
}

.home_nav>div {
    font-size: .3rem;
    color: #55565a;
}

.active_home {
    color: #000 !important;
    font-weight: 600 !important;
    font-size: .36rem !important;
    border-bottom: .04rem solid #a48149;
}

.banner {
    height: 3.2rem;
    margin-top: .4rem;
    border-radius: 8px;
}

.banner>img {
    width: 6.87rem;
    height: 3.2rem;
}

.auction {
    padding: .18rem .2rem;
    margin-top: .4rem;
    height: 4.05rem;
    background: url(../images/0y-bg.png) no-repeat;
    background-size: 6.87rem 4.05rem;
}

.auc_head p:nth-of-type(1) {
    float: left;
    font-size: .36rem;
    font-weight: 600;
}

.auc_head {
    height: 0.38rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auc_head p:nth-of-type(1) span {
    font-size: .44rem;
}

.auc_head p:nth-of-type(2) {
    float: right;
    font-size: .24rem;
    font-weight: 600;
    color: #c14e3c;
}

.auc_head p:nth-of-type(2)>img {
    width: 0.14rem;
    height: 0.18rem;
    /* margin-left: .1rem; */
    line-height: 0.15rem;
    text-align: center;
}

.box_0y {
    margin-top: .14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_0y .box1 {
    text-align: center;
    width: 1.3rem;
    height: 2.14rem;
}

.box_0y .pic {
    width: 1.3rem;
    height: 1.5rem;
}

.box_0y .pic>img {
    width: 1.3rem;
    height: 1.5rem;
}

.box_0y p:nth-of-type(1) {
    font-size: .1rem;
    font-weight: 500;
}

.box_0y p:nth-of-type(2)>span {
    font-size: .18rem;
    font-weight: 600;
}

.box_0y p:nth-of-type(2) {
    font-size: .18rem;
    color: #c14e3c;
}

.home_good {
    display: flex;
    flex-direction: column;
}

.home_good .good_head {
    margin-top: .6rem;
    height: .42rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.good_head p:nth-of-type(1) {
    font-size: .42rem;
}

.good_head p:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.2rem;
    height: 0.31rem;
}

.good_head p:nth-of-type(2)>img {
    width: 0.2rem;
    height: 0.31rem;
}

.good_mo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.good_moods {
    position: relative;
    margin-top: .31rem;
    width: 3.32rem;
    height: 4.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.good_moods .g_pic {
    margin-bottom: .34rem;
    margin-top: .53rem;
    /* z-index: -1; */
    width: 1.88rem;
    height: 1.75rem;
}

.g_content p:nth-of-type(1) {
    font-size: .3rem;
    font-weight: 600;
}

.g_content p:nth-of-type(2) {
    font-size: .28rem;
    color: #76777b;
}

.g_content2 {
    margin-top: .12rem;
}

.g_content2 p:nth-of-type(1) {
    font-size: .36rem;
    float: left;
}

.g_content2 p:nth-of-type(2) {
    margin-left: .11rem;
    font-size: .18rem;
    line-height: .5rem;
    float: left;
    color: #aaaaaa;
}

.g_fprice {
    /* justify-content: start; */
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.36rem;
    width: 2.23rem;
}

.time_price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.36rem;
    width: 1.04rem;
}

.time_price>img {
    width: 1.04rem;
}

.g_juan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.g_juan, .g_juan>img {
    width: 1.01rem;
    grid-template: 0.36rem;
}

.good_xin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.4rem;
    height: 0.35rem;
    position: absolute;
    right: .2rem;
    top: .2rem;
}
.good_xin>img{
    width: 0.4rem;
    height: 0.35rem;
}